@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Protest+Riot&display=swap');
@import url(./reset.css);

html {
    font-size: 62.5%;
    /* 16px " 62.5 = 10.00 */
}

/* propriété générale pour mettre en police de base*/
body {
   
    font-family: "Open Sans", sans-serif;
    font-size: 1.6;
    letter-spacing: .1rem;
    line-height: 1.6;
    margin: 0;
    background-color: var(--bgmain);
    
}

/* on supprime toutes les marges par défaut */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    color: rgb(68, 17, 17);
    text-decoration: none;
}

* {
    box-sizing: border-box;

}

img {
    display: inline-block;
    vertical-align: middle;
    object-fit: cover;
}

/* theme */
:root{/* selector root = racine avec les variables */
    --bgcolor: rgb(85, 239, 196, 1.0);
    --color-text-title:#bd8f12;
    --color-border: #e03751;
    --border-radius: .4rem;
    --bgsection: #ecedeb;
    --subtitle: uppercase; 
    --bgmain: #e84393; 
    --btn-default-color: rgb(0, 0, 0);
}
header>h1 {
    background-color:var(--bgcolor);
    color: var(--color-text-title) ;
    border: var(--color-border) solid;
    font-weight: normal;
    line-height: 6.5rem;
    /*65px */
    text-align: center;
    font-size: 4.5rem;
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
}

section {
    background-color: var(--bgsection);
    max-width: 80rem;
    margin: 5rem auto;
    border: solid .1rem #333;
    border-radius: var(--border-radius);
    padding: 1rem;
}

section img {
    width: 100%;
}
section h2{
    text-transform: var(--subtitle);
    font-weight: 400;
}
.btns-default{
    display: inline-block;
    width: max-content;
    background-color: var(--btn-default-color);
    line-height:2.5em;
    padding: .3rem .2rem;
    border-radius: var(--border-radius);
    color:var(--bgsection);
    text-transform: uppercase;
    font-size: 1.4rem;
}
.btn-option-success{ /*couleur verte*/
    background-color:#00b894 ;
    color: var(--bgsection);
    transition: all .3s ease-in-out;

}
/* add pseudo class hover */

.btn-option-success:hover, 
.btn-option-warning:hover{
    filter: brightness(0.5); /* filter luminosité */
}
.btn-option-warning{
    background-color: #d63031;
    color: var(--bgsection);
    transition: all .3s ease-in-out;
}

/*title level two*/
.title-level-two{
    background-color: var(--btn-default-color);
    line-height: 4.5rem;
    padding: .5rem 0;
    text-align: center;
    color: var(--bgsection)
}
.title-two-option-bgc-success{
    background-color: var(--bgmain);
}
.title-two-option-bgc-warning{
    background-color: #c0392b;
}
/*création d'un boutton par un élément a*/
footer *{
    text-align: center;
}